.venv/
my_env/
__pycache__/
*.pyc

datasets/

*.pth
*.pt
*.ckpt
*.tar
*.tar.xz
*.zip

.ipynb_checkpoints/
.env

experiments/**/middle_logs/
experiments/**/visualization/
experiments/**/visualizations/
experiments/**/anomaly_visualization/
experiments/**/normal_validation_visualization/
experiments/**/final_eval*/visualizations/